<!-- templates/preview.html -->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <div class="header-left">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo">
            <h1 class="header-title">Clipper</h1>
        </div>
        <h2 class="header-subheading">Preview</h2>
    </header>
    <div style="margin-top: 60px;">
        {% if format == 'mp4' %}
            <video class="preview-video" controls>
                <source src="{{ url_for('serve', file=file) }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        {% elif format == 'mp3' %}
            <audio class="preview-video" controls>
                <source src="{{ url_for('serve', file=file) }}" type="audio/mp3">
                Your browser does not support the audio tag.
            </audio>
        {% endif %}
        <br>
        <a href="{{ url_for('download') }}" class="button">Download</a>
        <a href="{{ url_for('output') }}" class="button modify-button">Modify</a>
        <a href="{{ url_for('index') }}" class="button restart-button">Restart</a>
    </div>
</body>
</html>
